<a href="https://colab.research.google.com/github/prakhar711/machine-learning-lab-cs3/blob/master/2_Expressions_and_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Expressions, Operators, Control statements

# Operators
- Arithmetic (+, -, *, /, //, %)
- Relational (<, >, <=, >=, !=, ==)
- Shift (>>, <<)
- Assignment (=)
- Logical (and, or, not)
- Bitwise (&, |, !)
- 'in' and 'not in' operator

In [0]:
n=15
print(n,'binary',format(n,'b'))
print(n,'* 2=',n<<1, format(n<<1,'b'))
print(n,'/ 2=',n>>1,format(n>>1,'b'))

15 binary 1111
15 * 2= 30 11110
15 / 2= 7 111

In [0]:
# logical
x = True
y = False
print('x and y is',x and y) # Output: x and y is False
print('x or y is',x or y) # Output: x or y is True
print('not x is',not x) # Output: not x is False

x and y is False
x or y is True
not x is False

In [0]:
# bitwise
x=10 
y=4
print(x & y) 
print(x | y)
print(x ^ y)

0
14
14

In [0]:
# in and not in

x = 'Hello world'
print('j' in x)    # Output: True
print('h' not in x)   # Output: True

False
True

In [0]:
# perform operations on cs

import cmath
a=complex(20+7j)
b=complex(5+3j)
print('a+b',a+b)
print('a-b',a-b)
print('a*b',a*b)
print('a/b',a/b)

a+b (25+10j)
a-b (15+4j)
a*b (79+95j)
a/b (3.5588235294117645-0.7352941176470589j)

### Task1 Write a program in python to calculate area of triangle when all three sides are given.
- s=(a+b+c)/2
- area =  âˆš(s(s-a)(s-b)(s-c) )

In [0]:
a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))
s = (a + b + c) / 2
area = (s*(s-a)*(s-b)*(s-c))*0.5
print('The area of the triangle is %0.2f' %area)

Enter first side: 2.0
Enter second side: 3.0
Enter third side: 4.0
The area of the triangle is 4.22

# Control Statements

### Decisions (if-else)

### Task2: Write a proram that accept a lowercase/uppercase character from the user and check whether the character is a vowel or consonant.

In [0]:
ch = input("Enter a character: ")

if(ch=='A' or ch=='a' or ch=='E' or ch =='e' or ch=='I'
 or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print(ch, "is a Vowel")
else:
    print(ch, "is a Consonant")

Enter a character: a
a is a Vowel

In [0]:
# write your code after this line
str=input('Enter a letter: ').lower()
if(str == 'a' or str == 'e' or str == 'i' or str == 'o' or str == 'u'):
  print(str,'is vowel')
else:
  print(str,'is consonant')

Enter a letter: b
b is consonant

### Task3: Write a program to check whether given character is a digit or a character in lowercase or uppercase alphabet. Hint: ASCII value of digit is between 48 to 58 and Lowercase characters in the range of 97 to122, uppercase is between 65 and 90).

In [0]:
# write your code after this line
str = input("Enter a digit(ACSII) or character: ")
str=ord(str)
if str>=97 and str<=122:
  print("lower case letter")
if str>=48 and str<=58:
  print("is a digit")
if str>=65 and str<=90:
  print("upper case letter")

Enter a digit(ACSII) or character: d
lower case letter

### Repetition or loop
- while loop
- for loop

#### While loop

##### Task 4: Write a program in Python to print table of any number 'n' provided by user using while loop.

In [0]:
num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 5
Multiplication Table of 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [0]:
# write your code after this line
num=int(input("enter a number"))
i=1
while i <= 10:
  product = num*i
  print(num, " * ", i, " = ", product, "\n")
  i = i + 1

enter a number4
4  *  1  =  4

4  *  2  =  8

4  *  3  =  12

4  *  4  =  16

4  *  5  =  20

4  *  6  =  24

4  *  7  =  28

4  *  8  =  32

4  *  9  =  36

4  *  10  =  40

##### Task 5: Write a program in Python to evaluate the following series using while loop:
    
    1! + 2! + 3! + 4! ...+ n!
hint: use math.factorial(n) function to calculate factorial of number n.

In [0]:
import math
num=int(input("enter any number"))
sum=0
while(num):
  sum+=math.factorial(num)
  num-=1
print("the sum is",sum)

enter any number6
the sum is 873

### for loop

In [0]:
# factorial
n=int(input('Enter a number '))
fact=1
for i in range(n,1,-1):
    fact=fact*i
print(n,'! =',fact)

Enter a number 5
5 ! = 120

In [0]:
for i in range(10):
  if(i==3 or i==6):
    continue;
  else:
    print("number :",i)

number : 0
number : 1
number : 2
number : 4
number : 5
number : 7
number : 8
number : 9